.spiderman-01-01 {
    background-image: url('../../images/spiderman-tobey/movie-01/background.png');
    background-size:cover;
}
  
.spiderman-01-02 {
    background-image: url('../../images/spiderman-tobey/movie-02/background.png');
    background-size: cover;
}
  
.spiderman-01-03 {
    background-image: url('../../images/spiderman-tobey/movie-03/background.png');
    background-size: cover;
}

.spiderman-02-01 {
    background-image: url('../../images/spiderman-andrew/movie-01/background.png');
    background-size:cover;
}
  
.spiderman-02-02 {
    background-image: url('../../images/spiderman-andrew/movie-02/background.png');
    background-size: cover;
}